.ayuda{
  background: url("../../../../node_modules/@icons/material//svg/help1.svg") no-repeat;
  position: relative;
  background-size: 25px 25px;
  padding: 25px;
  height: 25px;
  width: 25px;
  text-decoration: none;
  left: 50px;
  bottom: 10px;
}

.tooltip {
    font-size: 20px;
    position: relative;
    display: inline-block;
    padding: 25px;
    height: 25px;
    width: 25px;
    background: transparent;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    border: 2px solid #999999;
    width: 120px;
    background-color: #ffffff;
    color: #999999;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 20px;
    margin-left:20px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -15px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent gray transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  

