.progresstext{
	text-align: center;

}
progress{
	color: transparent;
	border: 2px solid #cccc;
	background: transparent;
	border-radius: 6px;
	right: 40px;
}

::-moz-progress-bar {
  background-color: black;
}

/* Force indeterminate bars to have zero width */
:indeterminate::-moz-progress-bar {
  width: 0;
}